* {
  font-family: "Roboto", sans-serif;
}

div.main {
  width: 100%;
  text-align: center;
}

svg#canvas {
  margin: auto;
  display: block;
}

tspan.keys, tspan.args {
  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  font-size: 180%;
  fill: black;
  text-anchor: middle;
}

tspan.args {
  fill: CornflowerBlue;
  font-family: "Roboto", normal;
  font-style: italic;
  text-anchor: start;
}

tspan.desc {
  fill: firebrick;
  opacity: 0.8;
  font-size: 70%;
  text-anchor: middle;
}

g.secondary {
  font-size: 75%;
}

g.secondary tspan.keys {
  fill: gray;
}

g.secondary tspan.args {
  fill: lightgray;
}

g.secondary .desc {
  fill: gray;
}

rect.boundary {
  border: 1px solid gray;
  fill-opacity: 0;
}

.bg-text {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 100%;
  font-weight: 700;
  fill: white;
  letter-spacing: 0.05em;
  text-anchor: middle;
}

.bg {
  fill: firebrick;
}

th, .big {
  font-family: "Oswald", normal;
  font-size: 150%;
}

td {
  text-align: left;
  font-size: 80%;
  vertical-align: top;
}

td ul {
  list-style-type: none;
}

.big span {
  font: inherit;
  padding: 0.3em;
}

.examples th {
  font-family: "Source Code Pro", monospace;
  font-size: 100%;
  text-align: right;
}

.examples td {
  padding: 2px 10px;
  vertical-align: middle;
}
